<%inherit file="base.html"/>

<%def name="main()">
  <h1>性爱大师</h1>

  <div class="item-info">
    <div class="item-info-post">
      <img src="/static/pics/item.jpg" alt="" width="230"/>
    </div>
    <div class="item-info-detail">
      <p>导演: 柯尔姆·麦卡锡</p>
      <p>编剧: 马克·加蒂斯 / 史蒂文·莫法特</p>
      <p>主演: 本尼迪克特·康伯巴奇 / 马丁·弗瑞曼 / 拉珀特·格雷夫斯 / 马克·加蒂斯 / 拉娜·普尔弗 / 尤娜·斯塔布斯 / 露·布瑞丽 Loo Brealey</p>
      <p>类型: 剧情 / 悬疑 / 犯罪</p>
    </div>
  </div>

  <div class="item-detail">
    <div class="item-section">
      <h2 class="item-section-title">第 10 季</h2>
      <div class="item-section-detail">
        <a href="#" class="btn-epi-none">
          <i></i>
          1集(暂无)</a>
        <a href="#" class="btn-epi-normal">
          <i></i>
          2集</a>
        <a href="#" class="btn-epi-normal">3集</a>
        <a href="#" class="btn-epi-normal">3集</a>
        <a href="#" class="btn-epi-normal">3集</a>
        <a href="#" class="btn-epi-normal">3集</a>
        <a href="#" class="btn-epi-normal">4集</a>
        <a href="#" class="btn-epi-normal">5集</a>
        <a href="#" class="btn-epi-normal">6集</a>
        <a href="#" class="btn-epi-normal">7集</a>
        <a href="#" class="btn-epi-normal">8集</a>
        <a href="#" class="btn-epi-normal">9集</a>
        <a href="#" class="btn-epi-normal">10集</a>
      </div>
    </div>

    <div class="item-section">
      <h2 class="item-section-title">第 9 季</h2>
      <div class="item-section-detail">
        <a href="#" class="btn-epi-normal">1集</a>
        <a href="#" class="btn-epi-normal">2集</a>
        <a href="#" class="btn-epi-normal">3集</a>
        <a href="#" class="btn-epi-normal">4集</a>
        <a href="#" class="btn-epi-normal">5集</a>
        <a href="#" class="btn-epi-normal">6集</a>
        <a href="#" class="btn-epi-normal">7集</a>
        <a href="#" class="btn-epi-normal">8集</a>
        <a href="#" class="btn-epi-normal">9集</a>
        <a href="#" class="btn-epi-normal">10集</a>
      </div>
    </div>

    <div class="item-section">
      <h2 class="item-section-title">第 8 季</h2>
      <div class="item-section-detail">
        <a href="#" class="btn-epi-normal">1集</a>
        <a href="#" class="btn-epi-normal">2集</a>
        <a href="#" class="btn-epi-normal">3集</a>
        <a href="#" class="btn-epi-normal">4集</a>
        <a href="#" class="btn-epi-normal">5集</a>
        <a href="#" class="btn-epi-normal">6集</a>
        <a href="#" class="btn-epi-normal">7集</a>
        <a href="#" class="btn-epi-normal">8集</a>
        <a href="#" class="btn-epi-normal">9集</a>
        <a href="#" class="btn-epi-normal">10集</a>
      </div>
    </div>

    <div class="item-section">
      <h2 class="item-section-title">第 9 季</h2>
      <div class="item-section-detail">
        <a href="#" class="btn-epi-normal">1集</a>
        <a href="#" class="btn-epi-normal">2集</a>
        <a href="#" class="btn-epi-normal">3集</a>
        <a href="#" class="btn-epi-normal">4集</a>
        <a href="#" class="btn-epi-normal">5集</a>
        <a href="#" class="btn-epi-normal">6集</a>
        <a href="#" class="btn-epi-normal">7集</a>
        <a href="#" class="btn-epi-normal">8集</a>
        <a href="#" class="btn-epi-normal">9集</a>
        <a href="#" class="btn-epi-normal">10集</a>
      </div>
    </div>

    <div class="item-section">
      <h2 class="item-section-title">第 8 季</h2>
      <div class="item-section-detail">
        <a href="#" class="btn-epi-normal">1集</a>
        <a href="#" class="btn-epi-normal">2集</a>
        <a href="#" class="btn-epi-normal">3集</a>
        <a href="#" class="btn-epi-normal">4集</a>
        <a href="#" class="btn-epi-normal">5集</a>
        <a href="#" class="btn-epi-normal">6集</a>
        <a href="#" class="btn-epi-normal">7集</a>
        <a href="#" class="btn-epi-normal">8集</a>
        <a href="#" class="btn-epi-normal">9集</a>
        <a href="#" class="btn-epi-normal">10集</a>
      </div>
    </div>
  </div>
</%def>
